body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap overrides*/

.navbar-inverse {
    background-color: #11770f;
    border-color: #11770f;
}
.navbar-nav > li > a {
    padding-top: 17px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #b3daa3;
}

.navbar-inverse .navbar-brand {
    color: #d8f1cb;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato";
    color: #132704;
}

h3, .h3 {
    margin-top: 8px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #daecd3;
    opacity: 1;
}

.panel-default > .panel-heading {
    background-color: #daecd3;
}

body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: #132704;
}

label {
    padding-right: 10px;
}

