@model NewFoodNutrients.ViewModels.PlateViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form>
    <div class="form-group">
        @Html.LabelFor(m=>m.FoodType)
        @Html.DropDownListFor(m=>m.FoodType, new SelectList(Model.FoodTypes, "FoodTypeId", "FoodTypeName"))
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m=>m.Ingredients)
        @Html.TextBoxFor(m=>m.Title, new {@class="form-control"})*@
    </div>
    <div class="form-group"></div>
    <div class="form-group"></div>
    <div class="form-group"></div>
</form>